<?xml version="1.0"?>
<ruleset name="Light Popup">
    <description>PHPCS configuration for Light Popup.</description>

    <file>.</file>

    <exclude-pattern>/vendor/*</exclude-pattern>
    <exclude-pattern>/node_modules/*</exclude-pattern>

    <arg name="basepath" value="."/>
    <arg name="extensions" value="php"/>
    <arg name="colors"/>
    <arg value="sp"/>

    <rule ref="WordPress">
        <exclude name="WordPress.Files.FileName"/>
    </rule>

    <rule ref="WordPress.WP.I18n">
        <properties>
            <property name="text_domain" type="array">
                <element value="light-popup"/>
            </property>
        </properties>
    </rule>

    <config name="minimum_wp_version" value="6.0"/>
    <config name="minimum_supported_wp_version" value="6.0"/>

    <rule ref="PHPCompatibilityWP"/>
    <config name="testVersion" value="8.1-"/>
</ruleset>
